.messages-root {
  display: flex;
  min-height: 100px;
  justify-content: center;
}
.messages-container {
  width: 100%;
}

.error-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 40px;
}
