.messages-root {
  display: flex;
  min-height: 100px;
  justify-content: center;
}
.messages-container {
  width: 100%;
}
.message-container {
  margin: 12px 0;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 8px -4px #00b7ff87;
  padding: 6px 8px;
}
.new-reply-container {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}

.message-info-container {
  display: flex;
  justify-content: space-between;
}

.message-submitter-content-date {
  width: 100%;
}
.message-textarea-button-container {
  width: 100%;
}

.message-edit-button-container {
  display: flex;
  justify-content: flex-end;
}

.message-submitter {
  font-weight: bold;
  font-size: medium;
  margin-top: 8px;
  margin-bottom: 2px;
}
.message-content {
  font-size: small;
  margin-top: 2px;
  margin-bottom: 2px;
}

.message-date {
  font-size: smaller;
  margin-top: 0;
  margin-bottom: 2px;
  color: rgb(138, 138, 138);
}

.icon {
  cursor: pointer;
}

.new-reply-form {
  width: 100%;
}

.new-reply-button {
  margin-left: 2px;
  min-width: 60px;
}
.reply-container {
  margin: 4px 0;
}

.reply-submitter {
  font-weight: bold;
  font-size: small;
  margin: 0;
}
.reply-content {
  font-size: smaller;
  margin: 0;
}

.reply-date {
  font-size: x-small;
  margin: 1px 0;
  color: rgb(138, 138, 138);
}

.error-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 40px;
}
