.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 4px;
  width: 67%;
}

@media (max-width: 900px) {
  .container {
    width: 83%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
