.write-new-message {
  width: 100%;
  margin-top: 16px;
}

.new-message-textarea {
  padding: 4px;
  outline: none;
  resize: none;
  width: 100%;
  border: 1px solid whitesmoke;
  font-family: inherit;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-text {
  margin: 0;
  font-size: small;
  color: red;
  text-align: center;
}

.post-message-button {
  background-color: white;
}
