.app-bar {
  height: 50px;
  box-shadow: 0px 0px 3px -1px darkgrey;
  display: flex;
  width: 100%;
  /* padding: 4px; */
}

.title-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-grow: 0;
  max-width: 60%;
  flex-basis: 60%;
  padding: 0 20px;
}
.title {
  margin: 0;
  font-size: x-large;
}

.account-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  flex-grow: 0;
  max-width: 40%;
  flex-basis: 40%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 0px 3px -1px darkgrey;
  /* padding: 12px 16px; */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drop-down-button {
  width: 100%;
}

@media (max-width: 600px) {
  .title {
    font-size: large;
  }
}
